<div id="dashboard-project" class="page-layout simple right-sidebar" fxLayout="row">

    <!-- CENTER -->
    <div class="center" fusePerfectScrollbar>

        <!-- HEADER -->
        <div class="accent">
            <div fxLayout="row">
                <mat-card class=" border-top">
                    <span>Fuente: Twitter - Autor:Oaxaca_AlDia - Fecha:Wed Feb 24 20:11:31 </span><br>
                    <span>
                        #AlertaVial accidente en circuito mártires de Río Blanco, esto adelante del frac pozas arcas #precaucion en la zona… https://t.co/cFMUGjvxE8
                        </span>
                </mat-card>

                <mat-card class=" border-top">
                    <span>Fuente: Twitter - Autor:CruzRoja_CDMX - Fecha:Wed Feb 24 21:42:17</span><br>
                    <span>
                        Al transitar por #Fcc Hidalgo, #Valle Gómez, #Cuauhtémoc encontrarás un #accidente de #tránsito atendido por #CruzRojaMexicana, ten cuidado y disminuye tu velocidad  https://t.co/W7sLsXgzFb
                        </span>
                </mat-card>

                <mat-card class=" border-top">
                    <span>Fuente: Twitter - Autor:GN_Carreteras - Fecha:Wed Feb 24 21:39:07</span><br>
                    <span>
                        #EviteLaZona en #Oaxaca se registra cierre de circulación por habitantes km 260+500 Carretera (185) Coatzacoalcos-Salina Cruz,
                        </span>
                </mat-card>

                <mat-card class=" border-top">
                    <span>Fuente: Twitter - Autor:GraceRM6 - Fecha:Wed Feb 24 22:18:17</span><br>
                    <span>
                        #AccidenteVial choque fuerte en Av. Constitución entre Av. 10 de Mayo y Av. Constituyentes de Nuevo León #Guadalupe 15:52
                        </span>
                </mat-card>
            </div>
        </div>

        <!-- CONTENT -->
        <div class="content">

            <div class="widget-group p-12 " fxLayout="row" fxFlex="100" *fuseIfOnDom [@animateStagger]="{value: '50'}">

                <!-- <div class="fuse-widget-back p-16 pt-32 p-16 border" style="width: 300px;">

                    <div class="h3 pb-20" fxLayoutAlign="center center">PRUEBA</div>
                    <div fxLayoutAlign="space-between">
                        <span class="secondary-text ">Luis Alberto</span>
                        <span class="secondary-text ">10:00 am</span>
                        <mat-icon fxLayoutAlign="end end">more_vert</mat-icon>
                    </div>
                    <div fxLayoutAlign="space-between">
                        <span class="secondary-text ">Luis Alberto</span>
                        <span class="secondary-text ">10:00 am</span>
                        <mat-icon fxLayoutAlign="end end">more_vert</mat-icon>
                    </div>
                    <div fxLayoutAlign="space-between">
                        <span class="secondary-text ">Luis Alberto</span>
                        <span class="secondary-text ">10:00 am</span>
                        <mat-icon fxLayoutAlign="end end">more_vert</mat-icon>
                    </div>
                    <div fxLayoutAlign="space-between">
                        <span class="secondary-text ">Luis Alberto</span>
                        <span class="secondary-text ">10:00 am</span>
                        <mat-icon fxLayoutAlign="end end">more_vert</mat-icon>
                    </div>
                    <div fxLayoutAlign="space-between">
                        <span class="secondary-text ">Luis Alberto</span>
                        <span class="secondary-text ">10:00 am</span>
                        <mat-icon fxLayoutAlign="end end">more_vert</mat-icon>
                    </div>
                    <div fxLayoutAlign="space-between">
                        <span class="secondary-text ">Luis Alberto</span>
                        <span class="secondary-text ">10:00 am</span>
                        <mat-icon fxLayoutAlign="end end">more_vert</mat-icon>
                    </div>
                    <div fxLayoutAlign="space-between">
                        <span class="secondary-text ">Luis Alberto</span>
                        <span class="secondary-text ">10:00 am</span>
                        <mat-icon fxLayoutAlign="end end">more_vert</mat-icon>
                    </div>
                    <div fxLayoutAlign="space-between">
                        <span class="secondary-text ">Luis Alberto</span>
                        <span class="secondary-text ">10:00 am</span>
                        <mat-icon fxLayoutAlign="end end">more_vert</mat-icon>
                    </div>
                    <div fxLayoutAlign="space-between">
                        <span class="secondary-text ">Luis Alberto</span>
                        <span class="secondary-text ">10:00 am</span>
                        <mat-icon fxLayoutAlign="end end">more_vert</mat-icon>
                    </div>
                    <div fxLayoutAlign="space-between">
                        <span class="secondary-text ">Luis Alberto</span>
                        <span class="secondary-text ">10:00 am</span>
                        <mat-icon fxLayoutAlign="end end">more_vert</mat-icon>
                    </div>
                    <div fxLayoutAlign="space-between">
                        <span class="secondary-text ">Luis Alberto</span>
                        <span class="secondary-text ">10:00 am</span>
                        <mat-icon fxLayoutAlign="end end">more_vert</mat-icon>
                    </div>
                    <div fxLayoutAlign="space-between">
                        <span class="secondary-text ">Luis Alberto</span>
                        <span class="secondary-text ">10:00 am</span>
                        <mat-icon fxLayoutAlign="end end">more_vert</mat-icon>
                    </div>
                    <div fxLayoutAlign="space-between">
                        <span class="secondary-text ">Luis Alberto</span>
                        <span class="secondary-text ">10:00 am</span>
                        <mat-icon fxLayoutAlign="end end">more_vert</mat-icon>
                    </div>
                    <div fxLayoutAlign="space-between">
                        <span class="secondary-text ">Luis Alberto</span>
                        <span class="secondary-text ">10:00 am</span>
                        <mat-icon fxLayoutAlign="end end">more_vert</mat-icon>
                    </div>
                    <div fxLayoutAlign="space-between">
                        <span class="secondary-text ">Luis Alberto</span>
                        <span class="secondary-text ">10:00 am</span>
                        <mat-icon fxLayoutAlign="end end">more_vert</mat-icon>
                    </div>
                </div> -->

                <div class="p-16" style=" width: 200%;">

                    <!-- <div class="secondary-text font-size-38 font-weight-300 line-height-1">
                            Status
                        </div> -->
                    <!-- <div>
                            <div>
                                <mat-progress-bar mode="determinate" value="20" color="warn">20%</mat-progress-bar>
                            </div>
                            <div>
                                <h3>20%</h3>
                            </div>
                            <div>
                                <mat-progress-bar mode="determinate" value="40" color="accent">40%</mat-progress-bar>
                            </div>
                            <div>
                                <h3>40%</h3>
                            </div>
                        </div> -->

                    <div>
                        <h2>Notificaciones enviadas</h2>
                    </div>
                    <table>
                        <tr>
                            <th>Fecha</th>
                            <th>Mensaje</th>
                            <th>Localidad</th>
                            <th>Instructivo</th>
                            <th>Status</th>
                        </tr>
                        <tr>
                            <td>18/01/2021</td>
                            <td (click)="openDialog()">Accidente</td>
                            <td>La Concepción</td>
                            <td>LLamada 911</td>
                            <td fxLayoutAlign="right right">
                                <h4>Enviados</h4>
                                <mat-progress-bar mode="determinate" value="20" color="warn"></mat-progress-bar><br>
                                <h3>20%</h3>
                                <h4>Leidos</h4>
                                <mat-progress-bar mode="determinate " value="40 " color="accent"></mat-progress-bar>
                                <h3>40%</h3>
                            </td>
                        </tr>
                        <tr>
                            <td>18/01/2021</td>
                            <td>Choque</td>
                            <td>Avenida Balderas 58</td>
                            <td>Cambio de ruta</td>
                            <td fxLayoutAlign="right right">
                                <h4>Enviados</h4>
                                <mat-progress-bar mode="determinate" value="20" color="warn"></mat-progress-bar><br>
                                <h3>20%</h3>
                                <h4>Leidos</h4>
                                <mat-progress-bar mode="determinate " value="40 " color="accent"></mat-progress-bar>
                                <h3>40%</h3>
                            </td>
                        </tr>
                        <tr>
                            <td>18/01/2021</td>
                            <td>Accidente</td>
                            <td>Cuautitlan Izcali</td>
                            <td>LLamada 911</td>
                            <td fxLayoutAlign="right right">
                                <h4>Enviados</h4>
                                <mat-progress-bar mode="determinate" value="20" color="warn"></mat-progress-bar><br>
                                <h3>20%</h3>
                                <h4>Leidos</h4>
                                <mat-progress-bar mode="determinate " value="40 " color="accent"></mat-progress-bar>
                                <h3>40%</h3>
                            </td>
                        </tr>
                        <tr>
                            <td>18/01/2021</td>
                            <td>Choque</td>
                            <td> Colonia Juárez</td>
                            <td>Cambio de ruta</td>
                            <td fxLayoutAlign="right right">
                                <h4>Enviados</h4>
                                <mat-progress-bar mode="determinate" value="20" color="warn"></mat-progress-bar><br>
                                <h3>20%</h3>
                                <h4>Leidos</h4>
                                <mat-progress-bar mode="determinate " value="40 " color="accent"></mat-progress-bar>
                                <h3>40%</h3>
                            </td>
                        </tr>
                        <tr>
                            <td>18/01/2021</td>
                            <td>Accidente</td>
                            <td>San Pedro de los pinos</td>
                            <td>LLamada 911</td>
                            <td fxLayoutAlign="right right">
                                <h4>Enviados</h4>
                                <mat-progress-bar mode="determinate" value="20" color="warn"></mat-progress-bar><br>
                                <h3>20%</h3>
                                <h4>Leidos</h4>
                                <mat-progress-bar mode="determinate " value="40 " color="accent"></mat-progress-bar>
                                <h3>40%</h3>
                            </td>
                        </tr>
                        <tr>
                            <td>18/01/2021</td>
                            <td>Choque</td>
                            <td>Plaza de las Vizcaínas 30</td>
                            <td>Cambio de ruta</td>
                            <td fxLayoutAlign="right right">
                                <h4>Enviados</h4>
                                <mat-progress-bar mode="determinate" value="20" color="warn"></mat-progress-bar><br>
                                <h3>20%</h3>
                                <h4>Leidos</h4>
                                <mat-progress-bar mode="determinate " value="40 " color="accent"></mat-progress-bar>
                                <h3>40%</h3>
                            </td>
                        </tr>
                    </table>
                </div>

                <!-- SIDEBAR -->
                <fuse-sidebar class="sidebar " name="project-dashboard-right-sidebar-1 " position="right " lockedOpen="gt-md ">
                    <div class="pt-8 pb-32 " fxLayout="column " fxLayoutAlign="center center ">
                        <div class="light-blue-fg font-size-70 line-height-72 ">
                            Reports
                        </div>
                        <div class="h3 secondary-text font-weight-500 ">
                        </div>
                    </div>

                    <mat-card class="p-16 border-top ">
                        <span class="h4 ">
                                        Respondimos el llamado y atendimos en tiempo record 43 emergencias durante el 2020. </span>
                        <div style="margin-top: 10px;" fxLayoutAlign="end end">
                            <button mat-raised-button color="accent" (click)="openDialog()">Detalle de evento</button></div>
                    </mat-card>

                    <mat-card class="p-16 border-top " fxLayout="row " fxLayoutAlign="start center ">
                        <span class="h4 ">
                                        Alta velocidad y pavimento resbaladizo provocan varios accidentes viales en el Área Metropolitana.
                                            </span>

                    </mat-card>

                    <mat-card class="p-16 border-top " fxLayout="row " fxLayoutAlign="start center ">
                        <span class="h4 ">
                                        Cierre de autopista Sur con calle 63, la vía Choachí y vereda Curubital en Usme.
                                            </span>
                    </mat-card>
                    <mat-card class="p-16 border-top " fxLayout="row " fxLayoutAlign="start center ">
                        <span class="h4 ">
                                        Cierre de autopista Sur con calle 63, la vía Choachí y vereda Curubital en Usme.
                                            </span>
                    </mat-card>
                    <mat-card class="p-16 border-top " fxLayout="row " fxLayoutAlign="start center ">
                        <span class="h4 ">
                                        Cierre de autopista Sur con calle 63, la vía Choachí y vereda Curubital en Usme.
                                            </span>
                    </mat-card>
                </fuse-sidebar>