<div style="width: 40vw; height: auto;">
    <div fxLayoutAlign="end end">
        <button mat-dialog-close style="border-radius: 10%; padding: 1%; border-color:blanchedalmond ; background-color: #ff322e; color: blanchedalmond;">X</button>
    </div>

    <div fxLayoutAlign="center center">
        <h1>Nueva Cuenta Verificada </h1>
    </div>

    <form autocomplete="off" class="formulario" style="margin-top: 5%;">
        <div fxLayoutAlign="center center">
            <mat-label>Nombre</mat-label>
            <input type="text" placeholder="Sismológico Nacional">
        </div>
        <div fxLayoutAlign="center center">
            <mat-label>Cuenta</mat-label>
            <input type="text" placeholder="@SSNMexico">
        </div>
        <div fxLayoutAlign="center center">
            <mat-label>Tweeter ID</mat-label>
            <input type="text" placeholder="583442936">
        </div>
        <div fxLayoutAlign="center center">
            <mat-label>Categoría</mat-label>
            <input type="text" placeholder="Actividad sísmica en México">
        </div>
    </form>

    <div style="margin: 2%" fxLayoutAlign="center center">

        <button mat-raised-button style="background: #00acee; padding: 1%; ">Agregar</button>
    </div>
</div>