<div style="width: auto; height: auto; ">
    <div fxLayoutAlign="end end">
        <button mat-dialog-close style="border-radius: 10%; padding: 1%; border-color:blanchedalmond ; background-color: #ff322e; color: blanchedalmond;">X</button>
    </div>

    <div fxLayoutAlign="center center">
        <h1>Alertas</h1>
    </div>

    <div>
        <table style="width: 50vw; height: 10vh; margin-top: 2%;">
            <tr>
                <th>Tipo de alerta</th>
                <th>Nivel de Riesgo</th>
                <th>Protocolo de Acción</th>
            </tr>
            <tr>
                <td>Tormenta tropical</td>
                <td style="background: rgb(10, 158, 77);">Aceptable</td>
                <td>Refugio de emergencia</td>
            </tr>
            <tr>
                <td>Manifestación</td>
                <td style="background: yellow">Bajo</td>
                <td>Evitar la zona</td>
            </tr>
            <tr>
                <td>Accidente en vía</td>
                <td style="background: rgb(175, 52, 52)">Alto</td>
                <td>Cambio de ruta</td>
            </tr>
        </table>
        <div style="margin-top: 5%; display: flex; justify-content: center; align-content: center;">
            <button mat-raised-button style="background: #00acee; " (click)="openDialogFormAlert() ">Agregar Tipo de Alerta</button>
        </div>
    </div>

</div>