<div style="width: 100%;">
    <mat-tab-group>
        <mat-tab label="Salidas Activas">
            <iframe style="height: 92.9vh; width: 100%;" width="1250" height="83vh" src="https://app.powerbi.com/reportEmbed?reportId=d9c11b9c-6d26-4f12-aafd-1a59ce167a14&groupId=1516e6d9-86bd-4cd5-b962-da91db8c3e81&autoAuth=true&ctid=76d621fe-838d-496a-9f4f-60d7eb46763e&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXNvdXRoLWNlbnRyYWwtdXMtcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQvIn0%3D"
                frameborder="0" allowFullScreen="true"></iframe>
        </mat-tab>
        <mat-tab label="En tiempo">
            <iframe style="height: 92.9vh; width: 100%;" width="1250" height="83vh" src="https://app.powerbi.com/reportEmbed?reportId=04c8d294-e542-41ec-b0d9-efc625eb9ca5&groupId=1516e6d9-86bd-4cd5-b962-da91db8c3e81&autoAuth=true&ctid=76d621fe-838d-496a-9f4f-60d7eb46763e&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXNvdXRoLWNlbnRyYWwtdXMtcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQvIn0%3D"
                frameborder="0" allowFullScreen="true"></iframe>

        </mat-tab>
        <mat-tab label="Anomalias">
            <iframe style="height: 92.9vh; width: 100%;" width="1250" height="83vh" src="https://app.powerbi.com/reportEmbed?reportId=1b25c1e7-bdf3-42e2-b490-7172d2fada45&groupId=1516e6d9-86bd-4cd5-b962-da91db8c3e81&autoAuth=true&ctid=76d621fe-838d-496a-9f4f-60d7eb46763e&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXNvdXRoLWNlbnRyYWwtdXMtcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQvIn0%3D"
                frameborder="0" allowFullScreen="true"></iframe>

        </mat-tab>
        <mat-tab label="Salidas Historico">
            <iframe style="height: 92.9vh; width: 100%;" width="1250" height="83vh" src="https://app.powerbi.com/reportEmbed?reportId=2e23900b-765c-4407-8231-39ea34202c9d&groupId=1516e6d9-86bd-4cd5-b962-da91db8c3e81&autoAuth=true&ctid=76d621fe-838d-496a-9f4f-60d7eb46763e&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXNvdXRoLWNlbnRyYWwtdXMtcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQvIn0%3D"
                frameborder="0" allowFullScreen="true"></iframe>

        </mat-tab>
    </mat-tab-group>
</div>